name: Build and Test
on:
  pull_request:

jobs:
  build-and-test:
    name: Build and test
    runs-on: ubuntu-latest
    services:
      postgres-db:
        image: postgres
        ports:
          - 5432:5432
        env:
          POSTGRES_DB: postgresql
          POSTGRES_USER: postgresql
          POSTGRES_PASSWORD: postgresql
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Build and Run Vulny!
        run: docker compose build && docker compose up -d
      - name: HawkScan
        uses: stackhawk/hawkscan-action@v2.0.0
        with:
          apiKey: ${{ secrets.HAWK_API_KEY }}
          configurationFiles: stackhawk.d/stackhawk-custom-params.yml stackhawk-github-pr.yml
        env:
          COMMIT_SHA: ${{ github.event.pull_request.head.sha }}
          BRANCH_NAME: ${{ github.head_ref }}
